/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
.ivisa-widget { font-size: 14px }
.ivisa-widget a { color:#1483CA; text-decoration:none; box-shadow:none !important; -webkit-box-shadow:none !important  }

.ivisa-widget .ivisa-themed-text { color: #1483CA }
.ivisa-widget .ivisa-themed-btn { font-size:14px; font-weight:normal; border-radius:3px; padding: 5px 10px; color:white; background-color: #5cb85c; border-color: #4cae4c }

.ivisa-widget .ivisa-select { font-size: 13px; max-width: 240px }
.ivisa-widget .field_name { font-weight:bold; display:inline }
.ivisa-widget .field_value { display:inline }

.ivisa-widget .application-requirements-icon { text-align:left !important; }
.ivisa-widget .application-requirements-icon img{ margin-top:0px !important }

.ivisa-widget .themed-img { padding: 10px }
.ivisa-widget .ivisa-icon { vertical-align:bottom }


/***************************
 * Modal Box
 */
.ivisa-widget-results { min-height:150px; max-height:400px; overflow-y:auto; margin-top:12px }
.ivisa-overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: rgba(255, 255, 255, 0.6); transition: opacity 200ms; visibility: hidden; opacity: 0; }
.ivisa-overlay .ivisa-cancel { position: absolute; width: 100%; height: 100%; cursor: default; }
.ivisa-popup { min-height:200px; margin: 75px auto; padding: 20px; background: #fff; border: 1px solid #aaa; width: 90%; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25); position: relative; top: 50%; transform: translateY(-50%);}
.ivisa-popup .ivisa-close { cursor:pointer; position: absolute; width: 20px; height: 20px; top: 5px; right: 10px; opacity: 0.8; transition: all 200ms; font-size: 24px; font-weight: bold; text-decoration: none; color: #666; }
.ivisa-popup .ivisa-close:hover {  opacity: 1; }
/***************************/


@media (max-width: 767px){
  .ivisa-widget .hidden-xs { display: none !important; }  
  .ivisa-widget .ivisa-select { max-width: 300px }
}

@media (max-width: 991px) and (min-width: 768px){
  .ivisa-widget .hidden-sm { display: none !important; }
}

@media (max-width: 1199px) and (min-width: 992px){
  .ivisa-widget .hidden-md { display: none !important; }
}

@media (min-width: 1200px){
  .ivisa-widget .hidden-lg { display: none !important; }
}

